@import "/UI/Theme.scss";

HudActionsPanel {
    position: absolute;
    left: $safe-zone-x;
    bottom: $safe-zone-y;
    width: 100%;
    height: 80px;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    > .hotbar {
        width: 45%;

        > PlayerAbilityPanel {
            margin-right: 8px;
        }
    }

    > .weapon-abilities {
        width: 30%;
        height: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;

        > WeaponAbilityPanel {
            margin-right: 8px;
        }
    }

    > .player-abilities {
        width: 20%;
        height: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;

        > .ultimate {
            margin-left: 32px;
        }

        > .movement {
            margin-right: 32px;
        }


        > PlayerAbilityPanel {
            margin-right: 8px;
        }
    }
}
