@import "/UI/Theme.scss";

SpireHud {
    pointer-events: visible;

    &.camera-movement {
        pointer-events: none;
    }

    &.invisible {
        display: none;
    }
}

// Default label properties
label {
    font-family: Cinzel;
    color: white;
    text-shadow: 1px 1px 2px black;
}
